.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.scoreList{
  text-align: right;
  display: flex;
  flex-direction: column;
}

.scoreCard{
  text-align: right;
  display:flex;
  justify-content: space-around;
  padding: 10px;

}

.scoreCard2{
  height: '400' ;
  width: '100%';
}
.name{
  text-align: center;
  display:flex;
}